* {
  --primary-1: 230, 15%, 22%; /* Neutral */
  --primary-2: 230, 15%, 20%; /* Dark */
  --primary-3: 230, 15%, 18%; /* Darker */
  --primary-4: 230, 15%, 45%; /* Lightest */
  --secondary: 166, 69%, 81%; /* Splash of Color */
  --transition: cubic-bezier(0.77, 0, 0.175, 1);
}

.multi-button {
  --shadow: 286, 24%, 14%;
  position: relative;
  padding: 0.005rem;
  background: hsl(var(--primary-1));
  border: 1px solid hsl(var(--primary-2));
  box-shadow: 1px 1px 1px hsla(var(--shadow), 0.12),
    3px 3px 3px hsla(var(--shadow), 0.11), 5px 5px 5px hsla(var(--shadow), 0.1),
    7px 7px 7px hsla(var(--shadow), 0.09),
    11px 11px 11px hsla(var(--shadow), 0.08),
    13px 13px 13px hsla(var(--shadow), 0.07),
    17px 17px 17px hsla(var(--shadow), 0.06),
    19px 19px 19px hsla(var(--shadow), 0.05),
    23px 23px 23px hsla(var(--shadow), 0.04),
    29px 29px 29px hsla(var(--shadow), 0.03);
  border-radius: 4px;
  user-select: none;
}

.label-but {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.4rem;
  color: #5c617b;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: none;
  border-radius: 2px;
  background: none;
  transition: all 0.4s var(--transition);
  cursor: pointer;
}

span {
  margin-right: 0.1rem;
}

span svg {
  height: 16px;
  width: 16px;
}

.label-but:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  top: 20%;
  left: 50%;
  background: hsla(var(--secondary), 0.35);
  border-radius: 2px;
  transition: all 0.25s var(--transition);
}

.label-but:hover:before {
  width: 80%;
  left: 10%;
  border-top: 1px solid hsl(var(--secondary));
}

input:checked + .label-but:before {
  height: 60%;
  bottom: 20%;
}

input:checked + .label-but {
  color: hsl(var(--secondary));
  transition-delay: 0.1s;
}

input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .TypeButRoot {
    display: flex;
    flex-direction: row;
  }

  .label-but {
    padding: 0.7rem 1.3rem;
    font-size: 10px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 700px) {
  .TypeButRoot {
    display: flex;
    flex-direction: column;
  }

  .label-but {
    padding: 0.7rem 1.3rem;
    font-size: 10px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 400px) {
  .label-but {
    padding: 0.4rem 1rem;
    font-size: 6px;
    font-weight: 500;
  }
}
